{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>

<meta charset="UTF-8">
<title>Index V1 | WePaint Creative Html5 Template For Painting Company.</title>
<meta name="description" content="">
<meta name="author" content="">
<meta name="keywords" content="">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="https://fonts.googleapis.com/css?family=Arvo:400,400i,700,700i&amp;display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Muli&amp;display=swap" rel="stylesheet">

<link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}">


<link rel="stylesheet" href="{% static 'css/font-awosome.css' %}">

<link rel="stylesheet" href="{% static 'font/flaticon.css' %}">

<link rel="stylesheet" href="{% static 'css/animate.min.css' %}">

<link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}">

<link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">

<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

<link rel="stylesheet" href="{% static 'css/style.css' %}">

<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
</head>
<body>
<div class="preloader">
<div class="p-wrapper">
<div class="spinner">
<i></i>
<i></i>
<i></i>
<i></i>
<i></i>
<i></i>
<i></i>
</div>
</div>
</div>

{% include 'layouts/header.html' %}


{% block content %}
{% endblock %}


{% include 'layouts/footer.html' %}

<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>

<script src="{% static 'js/wow.min.js' %}"></script>

<script src="{% static 'js/countdown.js' %}"></script>

<script src="{% static 'js/jquery.counterup.min.js' %}"></script>

<script src="{% static 'js/shuffle.js' %}"></script>

<script src="{% static 'js/waypoints.min.js' %}"></script>

<script src="{% static 'js/jquery-ui.js' %}"></script>

<script src="{% static 'js/jquery.fancybox.min.js' %}"></script>

<script src="{% static 'js/bootstrap.min.js' %}"></script>

<script src="{% static 'js/custom.js' %}"></script>
</body>

<!--  05:49-->
</html>