{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
<section class="hero-area-1">
    <div class="container">
    <div class="row">
    <div class="col-md-5">
    <div class="card estimate-card">
    <span class="flaticon-paint esc-paint"></span>
    <h2>Get An Estimate</h2>
    <article class="card-body">
    <form method="post" action="{% url 'main_app:estimate' %}">
    {% csrf_token %}
    <span class="e-ctl"> 1. What are the wall dimensions?</span>
    <div class="form-row pt-2">
    <div class="col form-group">
    <label>Height (m) </label>
    <input type="text" name="wd_height" class="form-control" placeholder="0.00" id="wd-height" required>
    </div> 
    <div class="col form-group">
    <label>Width (m)</label>
    <input type="text" name="wd_width" class="form-control" placeholder="0.00" id="wd-width" required>
    </div> 
    </div> 
    <span class="e-ctl">2. What are the dimensions of the windows/areas
    that you don't want to cover in metres?</span>
    <div class="form-row pt-2">
    <div class="form-group col">
    <label>Height (m)</label>
    <input type="text" name="wnd_height" class="form-control" placeholder="0.00" id="wnd-height" value="00.00">
    </div> 
    <div class="form-group col">
    <label>Width (m)</label>
    <input type="text" name="wnd_width" class="form-control" placeholder="0.00" id="wnd-width" value="00.00">
    </div> 
    </div> 
    <span class="e-ctl">3. What are the dimensions of the doors
    that you don't want to cover in metres?</span>
    <div class="form-row pt-2">
    <div class="form-group col">
    <label>Height (m)</label>
    <input type="text" name="door_height" class="form-control" placeholder="0" id="doord-height" value="00.00">
    </div> 
    <div class="form-group col">
    <label>Width (m)</label>
    <input type="text" name="door_width" class="form-control" placeholder="0" id="doord-width" value="00.00">
    </div> 
    </div> 
    <span class="e-ctl">4. How many coats of paint do you want?</span>
    <div class="form-group">
    <button type="submit" class="btn-block ebtn" id="estimate-btn">Get Estimate Now</button>
    </div> 
    <div class="form-group">
    <button type="button" class="btn-block ebtn-r" id="estimate-reset-btn">Reset Estimate</button>
    </div> 
    </form>
    </article> 
    </div> 
    </div>
    <div class="col-md-7">
    <div class="hero-content-1">
    <h1 class="wow fadeInLeft" data-wow-delay=".5s">We Really Love to Help You to
    Get Your Home Decorated!</h1>
    <p class="wow fadeInLeft" data-wow-delay="1s">There no society ever discovered remotest corner
    the world
    that
    has not had something that would consider the arts songs.</p>
    <div class="btn-learn">
    <span class="learn-ab"><a href="contact.html">Contact Us</a></span>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>
    
    
<section class="our-service">
    <div class="container">
    <div class="Exclusive-service">
    <div class="row">
    {% for service in services %}
    <div class="col-md-4">
    <div class="single-service wow fadeInUp" data-wow-delay=".5s">
    <span class="flaticon-paint ficon-bg-1"></span>
    <div class="icon-inner">
    <span class="flaticon-paint"></span>
    </div>
    <div class="ss-content">
    <h3>{{ service.title }}</h3>
    <p>{{ service.short_description }}</p>
    <a href="{% url 'main_app:service-detail' pk=service.id %}">Read More</a>
    </div>
    </div>
    </div>
    {% endfor %}
    </div>
    </div>
    </div>
    </section>
    
    
<section class="about-us">
    <div class="container">
    <div class="row">
    <div class="col-md-6 offset-md-6">
    <div class="about wow fadeInRight" data-wow-delay=".3s">
    <div class="ab-ficon">
    <span class="flaticon-paint-3 ficon-ab-1"></span>
    </div>
    <div class="au-tittle">
    <p>About Us</p>
    <h2>Doing Painting is Our Big Passion</h2>
    </div>
    <p>For people like me, book are something solid and
    real, whereas digital stuff is a bit more ethereal.
    I like the trophy on my shelf, the presence in my
    home. A nice book is just as valuable as a
    decoration as a beautiful porcelain urn - and.</p>
    <p>Let's face it, a hell of a lot more useful. For people
    like me, book are something solid and real where
    digital stuff is a bit more ethereal. For people like
    me, book are something solid and.</p>
    <div class="btn-learn">
    <span class="learn-ab"><a href="{% url 'main_app:about' %}">Learn More</a></span>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>
    
    
<section class="completed-project">
    <div class="container">
    <div class="recent-top">
    <p>Recent Project</p>
    <h3>Our Recent Completed Projects</h3>
    <p>Whereas digital stuff is a bit more ethereal. I like the trophy on my
    shelf, the presence in my home nice book is just as valuable.</p>
    </div>
    </div>
    </section>
    
    
<section class="client-feedback">
    <div class="container">
    <div class="row">
    <div class="col-md-5">
    <div class="client-image wow fadeInLeft" data-wow-delay=".5s">
    <img src="{% static 'images/client.png' %}" alt="">
    </div>
    </div>
    <div class="col-md-7">
    <div class="client-content">
    <p>Testimonials</p>
    <h3 data-aos="zoom-in">Clients Feedbacks</h3>
    <p>Whereas digital stuff is a bit more ethereal,
    I like the trophy on my shelf, the presence.</p>
    <div class="testimo-slide">
    <div class="carousel slide" data-ride="carousel" id="quote-carousel">
    
    <div class="carousel-inner">
    
    <div class="item active carousel-item">
    <div class="row">
    <div class="col-md-12">
    <p>“ {{ first_user_feedback.message }} ”</p>
    </div>
    </div>
    </div>

    {% for feedback in user_feedbacks %}
    <div class="item carousel-item">
    <div class="row">
    <div class="col-md-12">
    <p>“ {{ feedback.message }} ”</p>
    </div>
    </div>
    </div>
    {% endfor %}

    
    <ol class="carousel-indicators testimo-indicat">
    <li data-target="#quote-carousel" data-slide-to="0" class="active">
    <img class="img-fluid " src="{% static 'images/slider/c-1.jpg' %}" alt="">
    </li>
    <li data-target="#quote-carousel" data-slide-to="1">
    <img class="img-fluid" src="{% static 'images/slider/c-2.jpg' %}" alt="">
    </li>
    <li data-target="#quote-carousel" data-slide-to="2">
    <img class="img-fluid" src="{% static 'images/slider/c-3.jpg' %}" alt="">
    </li>
    <li data-target="#quote-carousel" data-slide-to="3">
    <img class="img-fluid" src="{% static 'images/slider/c-4.jpg' %}" alt="">
    </li>
    <li data-target="#quote-carousel" data-slide-to="4">
    <img class="img-fluid" src="{% static 'images/slider/c-5.jpg' %}" alt="">
    </li>
    </ol>
    
    <div class="testimonial-nav">
    <a data-slide="prev" href="#quote-carousel" class="left carousel-control btn-prev"><i class="fa fa-chevron-left"></i></a>
    <a data-slide="next" href="#quote-carousel" class="right carousel-control btn-next"><i class="fa fa-chevron-right"></i></a>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
</section>
    
    
<section class="blog">
    <div class="container">
    <div class="row">
    {% for blog in blogs %}
    <div class="col-md-4">
    <div class="blog-one wow fadeInUp" data-wow-delay=".5s">
    <div class="bo-hover-content">
     <span class="flaticon-art-1 ficon-blg"></span>
    </div>
    <h3>{{ blog.title }}</h3>
    <div class="blg-meta">
    <ul>
    <li>Posted: {{ blog.updated_at }}</li>
    <li>Tag: {% for tag in blog.tags.all %}
    {{ tag.title }},
    {% endfor %}</li>
    </ul>
    </div>
    <p>{{ blog.short_description }}</p>
    <div class="btn-learn-2">
    <span class="learn-li"><a href="{% url 'main_app:blog-detail' pk=blog.id %}">Learn More</a></span>
    </div>
    </div>
    </div>
    {% endfor %}
    </div>
    </div>
    </section>
    
    
<section class="project-ask">
    <div class="container">
    <div class="pro-ask-content">
    <h1 data-aos="slide-in-left">Do You Have Any Project?</h1>
    <p>I loved painting and drawing for many reasons. One of them was that all it really required was me, a
    pencil and a pad. It was something I was passionate about, and still am I loved painting.</p>
    <div class="btn-contact wow zoomIn" data-wow-delay=".5s">
    <span class="con-btn"><a href="{% url 'main_app:contact' %}">Let's Talk</a></span>
    </div>
    </div>
    </div>
    </section>

{% endblock %}